  
  
  body 
  {
    background:#fff none repeat scroll 0 0;
    color:#ccc;
    font-family:Helvetica, Verdana, Geneva, sans-serif;
    margin:0;
    padding: 0px;
    height:100%;
  }

  h1
  {
     font-size:18px;
  }
  
  img
  {
   padding:0px;
   margin:0px;   
  }
.container
{
 width:100%;
 
}

.innercontainer
{
    width:86%;
    margin:0px auto 0px auto;
    height:100%;
    text-align:center;
}

.logo
{
 margin-bottom:0;
 margin-top:6%   
}

.maincontent
{
   
}
.tabs { padding: 0; clear: both; }
.tabs li { display: inline; }
.tabs li a { background: #902b21; margin-right:10px; padding: 8px 10px 8px 10px; float:left; border-left: 1px solid #690000; border-top: 1px solid #690000; border-bottom: none; text-decoration: none; color:#d1d0cb ; nt-weight: bold; font-size:10px;}
.tabs li:last-child a { border-right:1px solid #690000; margin-right:5px;}
.tabs li:nth-last-child(-n+2) a{margin-left:4px; margin-right:0px; padding: 5px 8px 5px 8px; margin-top:6px;}
.tabs li.active a { background: #670100; color:#f7fffd; }

.content {text-align:left; color: black; float: left; clear: both; border: 1px solid #670100; background: #ffeeee; padding-top: 10px; width: 100%; font-size:10px; overflow:auto;}
.seperator {border-bottom:1px solid #670100; margin-bottom:8px; padding-bottom:8px; }

td
{
    padding-top:5px;
}
td:first-child
{
    padding-top:5px;
}

.connection
{
 clear:both; 
 color: #557187;    
 font-size:10px;
}

.footer
{
 font-size:9px;
 color: #557187;
 clear:both;   
 text-align:right;
}

.smallfont
{
    font-size:8px;
    color:Black;
}

#connected 
{
display:inline;
}

.alignright
{
    float:right;

}

.smalltab
{
    padding:5px 8px;
    padding-right:0px;
    
}
